body {
  background-color: #D9F8C4;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #FAD9A1;
  border-width: 6px;
  width: 3%
}

h1 {
  color: #F37878
}

h3 {
  color: #F37878
}


.Profilbild {
  border-radius: 40%;
  height: 210px;
  width: 175px ;
}
